/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #192523 0%, #0f299d 100%);
  background-repeat: no-repeat;

  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 50vw;
  height: 55vh;
  max-width: 95%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

header h1 {
  font-size: 25px;
  color: #333;
  text-align: center;
}

#placar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #007bff;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

#alternativas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

#alternativas button {
  padding: 12px;
  background: #007bff;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#alternativas button:hover {
  background: #0056b3;
}

#btnProxima {
  padding: 10px 20px;
  background: #28a745;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

#btnProxima:hover {
  background: #1e7e34;
}

.resultado {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
